@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", sans-serif;
  width: 100dvw; /* dvw solve the scrollbar dimension problem */
  overflow-x: hidden;
}

@theme {
  /* --color-green: #e5800e; */
  --color-green: #53dd75;
  --color-black: #282828;
}
